@model AppletSoftware.Models.ManagersViewModel
@{
    
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}
<!-- /inner_content_w3_agile_info-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="@Url.Action("Dashboard","Manage")">Home</a><span>«</span></li>

            <li>APPLET Profile</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- ------------------------------------------------------------------------------ -->


<div class="inner_content_w3_agile_info codeHtml code_blog two_in">

    <!-- tables -->
    <div class="agile-tables">

        <!-- start my-panel -->
        <div class="my-panel w3l-table-info agile_info_shadow y">


            <div class="col-xs-12">

                <div class="panel panel-default">

                    <div class="xpanel-body">


                        <div class="main">

                            <div class="w3_agile_main_grids">
                                <div class="w3layouts_main_grid_left">
                                    <div class="w3_main_grid_left_grid">

                                        <p>You can see your profile details and change your settings from this Menu.</p>
                                        <div class="w3l_figure">
                                            <img src="@Url.Content("~/Images/resizedmanagers/"+Model.UInfo_Photo)" alt=" " height="80" width="80" />
                                            <h2>@Model.UInfoPlus_Fname_En @Model.UInfo_Lname_En</h2>
                                        </div>
                                        <ul class="agileinfo_social_icons">
                                            <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#" class="agileinfo_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="w3layouts_main_grid_right">
                                    <div class="w3ls_main_grid_right_grid">
                                        <div id="parentHorizontalTab">
                                            <ul class="resp-tabs-list hor_1">
                                                <li><i class="fa fa-user" aria-hidden="true"></i>About me</li>
                                                <li><i class="fa fa-gear" aria-hidden="true"></i>Settings</li>
                                            </ul>
                                            <div class="resp-tabs-container hor_1">
                                                <div class="agileits_main_grid_right_grid">

                                                    <div class="row">


                                                        <div class="col-md-10 col-md-offset-0">
                                                            <div class="form-group has-success">


                                                                <div class="panel panel-info">
                                                                    <div class="panel-heading">  @Html.Label("Phone Number")</div>
                                                                    <div class="panel-body"> @Html.DisplayFor(m => Model.PhoneNumber, new { @class = "" })</div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-md-10 col-md-offset-0">
                                                            <div class="form-group has-success">




                                                                <div class="panel panel-info">
                                                                    <div class="panel-heading">  @Html.Label("Email ")</div>
                                                                    <div class="panel-body"> @Html.DisplayFor(m => Model.Email, new { @class = "" })</div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div class="col-md-10 col-lg-offset-0">

                                                            <div class="form-group has-success">


                                                                <div class="panel panel-info">
                                                                    <div class="panel-heading">  @Html.Label("Role")</div>
                                                                    <div class="panel-body">Manager</div>
                                                                </div>









                                                            </div>
                                                        </div>

                                                        <div class="col-md-10 col-md-offset-0">

                                                            <div class="panel panel-info">
                                                                <div class="panel-heading">  @Html.Label(" Password ")</div>
                                                                <div class="panel-body"><h3>########## &nbsp;<span><a href="@Url.Action("ChangePassword","Manage")">Change</a></span></h3></div>
                                                            </div>









                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="wthree_main_grid_right_grid">

                                                    @using (Html.BeginForm("ManagerProfileSettings", "Manage", FormMethod.Post, new { id = "ManagerProfileSettingsForm", role = "form", enctype = "multipart/form-data" }))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                    <div class="row">

                                                        @Html.HiddenFor(m=>m.Id)

                                                        <div class="col-md-12 col-md-offset-0">
                                                            <div class="form-group has-warning">
                                                                @Html.ValidationMessageFor(m => Model.Email, "", new { @class = "text-danger" })

                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-keyboard-o"></i>
                                                                    </span>
                                                                    @Html.TextBoxFor(m => Model.Email, new { @class = "form-control", placeholder = "Manager Email" })
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 col-md-offset-0">
                                                            <div class="form-group has-warning">
                                                                @Html.ValidationMessageFor(m => Model.PhoneNumber, "", new { @class = "text-danger" })

                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-keyboard-o"></i>
                                                                    </span>
                                                                    @Html.TextBoxFor(m => Model.PhoneNumber, new { @class = "form-control", placeholder = "Manager Email" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-md-offset-0 ">
                                                            <!-- FONT AWESOME THEME -->
                                                            <!-- load the JS files in the right order -->

                                                            @Html.ValidationMessageFor(m => m.UInfo_Photo, "", new { @class = "text-danger" })
                                                            <div class="has-warning">
                                                                <div class="file-loading">

                                                                    @Html.TextBoxFor(m => m.UInfo_Photo, new { type = "file", multiple = true })
                                                                </div>


                                                            </div>
                                                        </div>


                                                        @Html.HiddenFor(m => m.Password)
                                                        @Html.HiddenFor(m => m.ConfirmPassword)
                                                        @Html.HiddenFor(m => m.UserName)
                                                        @Html.HiddenFor(m => m.UInfoPlus_Fname_En)
                                                        @Html.HiddenFor(m => m.UInfoPlus_Fname_Ar)
                                                        @Html.HiddenFor(m => m.UInfo_Lname_En)
                                                        @Html.HiddenFor(m => m.UInfo_Lname_Ar)


                                                    </div>


                                                        <div class="button">

                                                            <p class="btnText">READY?</p>
                                                            <div class="btnTwo">
                                                                <input type="submit" class="btnText2 btn-submit" value="Save">
                                                            </div>


                                                        </div>




                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"> </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts
    {

    @Scripts.Render("~/bundles/jqueryval")

    <link href="~/Content/dashcss/profilestyle.css" rel="stylesheet" type="text/css" media="all" />


    <link href="~/Content/dashcss/lightcase.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dashcss/easy-responsive-tabs.css " />

    <script src="~/Scripts/dashjs/easyResponsiveTabs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


            $("#UInfo_Photo").fileinput({
                showUpload: false,
                maxFileCount: 1,
                mainClass: "input-group-lg",
                theme: "fa",
                initialPreview: [
                    "<img src='/Images/images/logo.png' class='file-preview-image' alt='Desert' title='Desert'>",

                ],
                // initial preview configuration
                initialPreviewConfig: [
                    {
                        caption: 'appletsoftware',
                        width: '120px',
                        url: '/Images/images/logo.png',
                        key: 100,
                        extra: { id: 100 }
                    }



                ]

            });
            //Horizontal Tab
            $('#parentHorizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                tabidentify: 'hor_1', // The tab groups identifier
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#nested-tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
        });
    </script>
    <!-- light-case -->
    <script src="~/Scripts/dashjs/lightcase.js"></script>

    <script>
        $('.showcase').lightcase();
    </script>
    <!-- //light-case -->



}

<script type="text/javascript">

    $(document).ready(function () {

        var modelStatus =@string.IsNullOrEmpty(Model.ManagersStatus).ToString().ToLower();

        if (status == false) {

            var modelMessage =@string.Compare(Model.ManagersStatus, "Success");


            if (modelMessage == 0) {



                $.toast({
                    text: " Profile Edited Successfuly Thank you :) !", // Text that is to be shown in the toast
                    heading: 'APPLET Software', // Optional heading to be shown on the toast
                    icon: 'success', // Type of toast icon
                    showHideTransition: 'slide', // fade, slide or plain
                    allowToastClose: true, // Boolean value true or false
                    hideAfter: 10000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                    stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                    position: { left: '0', right: '0', top: '0', bottom: 'auto' }, // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values



                    textAlign: 'center',  // Text alignment i.e. left, right or center
                    loader: true,  // Whether to show loader or not. True by default
                    loaderBg: '#9EC600',  // Background color of the toast loader
                    beforeShow: function () { }, // will be triggered before the toast is shown
                    afterShown: function () { }, // will be triggered after the toat has been shown
                    beforeHide: function () { }, // will be triggered before the toast gets hidden
                    afterHidden: function () { }  // will be triggered after the toast has been hidden
                });




            }



        }




    });

</script>

