@using PagedList.Mvc;
@using PagedList;
@using AppletSoftware.Models
@model PagedList.IPagedList<AspNetProjectsCategory>
@{

    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<!-- /inner_content_w3_agile_info-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="@Url.Action("Dashboard","Manage")">@Appletindex.Index.applettopmenuhome</a><span>«</span></li>

            <li>@AppletDashIndex.DashIndex.appletdashindexsidebardprojectcategories</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- ------------------------------------------------------------------------------ -->


<div class="inner_content_w3_agile_info codeHtml code_blog two_in">

    <!-- tables -->
    <div class="agile-tables">

        <!-- start my-panel -->
        <div class="my-panel w3l-table-info agile_info_shadow y">


            <div class="col-xs-12">

                <div class="panel panel-default">

                    <div class="panel-heading">@AppletDashIndex.DashIndex.appletdashindexsidebardprojectcategories</div>

                    <div class="btn-block">
                        <div class="row">

                            <div class="col-md-4">

                                <span class="input-group-addon has-error">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input id="txtsearchCatEnglish" class="form-control1 icon" placeholder="@AppletDashIndex.DashIndex.appletdashprojectcategoriessearchbynameen" type="text">

                            </div>
                            <div class="col-md-4">

                                <span class="input-group-addon has-error">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input id="txtsearchCatArabic" class="form-control1 icon" placeholder="@AppletDashIndex.DashIndex.appletdashprojectcategoriessearchbynamear" type="text">

                            </div>

                            <div class="col-md-4">

                                <div class="input-group-addon has-error"> <i class="fa fa-search"></i></div>
                                <input id="txtsearchCatDate" class="form-control1 icon" placeholder="Search by" type="date">

                            </div>




                        </div>
                        <div class="xpanel-body">

                            <div class="table-responsive">

                                <table class="table table-hover" id="tblpcats">
                                    <thead>
                                        <tr style="cursor:pointer">
                                          

                                            <th>@AppletDashIndex.DashIndex.appletdashprojectsname</th>
                                            <th>@AppletDashIndex.DashIndex.appletdashprojectsname</th>
                                            <th>@AppletDashIndex.DashIndex.appletdashprojectsdatetime</th>
                                            <th>"@AppletDashIndex.DashIndex.appletdashprojectcategoriespublisher</th>
                                            <th>@AppletDashIndex.DashIndex.appletdashprojectsadd</th>
                                            <th>@AppletDashIndex.DashIndex.appletdashprojectsedit</th>
                                            <th>@AppletDashIndex.DashIndex.appletdashprojectsdelete</th>
                                        </tr>
                                    </thead>

                                    <!-- -------------------------------------------------------------------------- -->





                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr style="cursor:pointer">

                                                <td class="hidden">1</td>

                                                <td>@Html.DisplayFor(m => item.PCat_Name_En)</td>
                                                <td>@Html.DisplayFor(m => item.PCat_Name_Ar)</td>
                                                <td>@Html.DisplayFor(m => item.PCat_DateTime)</td>
                                                @{
                                                    AppletSoftware.Models.AppletSoftwareEntities Context = new AppletSoftware.Models.AppletSoftwareEntities();

                                                    string Fname_En = Context.AspNetUsersInfoPlus.Where(m => m.Id == item.Id).SingleOrDefault().UInfoPlus_Fname_En;
                                                    string Lname_En = Context.AspNetUsersInfoPlus.Where(m => m.Id == item.Id).SingleOrDefault().UInfo_Lname_En;

                                                    string Publisher = Fname_En + " " + Lname_En;

                                                }

                                                <td>@Html.DisplayFor(m => Publisher)</td>
                                                <td class="hidden">@Html.DisplayFor(m => item.PCat_Description_En)</td>
                                                <td class="hidden">@Html.DisplayFor(m => item.PCat_Description_Ar)</td>
                                                <td>
                                                    <a href="@Url.Action("NewProjectsCategories","Manage")" data-placement="top" data-toggle="tooltip" title="" data-original-title="Add">
                                                        <button class="btn btn-info btn-xs" data-title="Add">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("EditProjectsCategories","Manage",new {PCat_Id=item.PCat_Id })" data-placement="top" data-toggle="tooltip" title="" data-original-title="Edit">
                                                        <button class="btn btn-success btn-xs" data-title="Edit">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                                <td>
                                                    @using (Html.BeginForm("DeleteProjectsCategories", "Manage", new { PCat_Id = item.PCat_Id }, FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <a href="" data-placement="top" data-toggle="tooltip" title="" data-original-title="Delete">
                                                            <button class="btn btn-danger btn-xs btndelete" data-title="Delete">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </button>
                                                        </a>
                                                    }

                                                </td>

                                            </tr>

                                            <!-- --------------------------------------------------------------------------- -->



                                        }




                                    </tbody>


                                    <!-- --------------------------------------------------------------------------- -->

                                </table>
                                <!-- End Table -->

                            </div>
                            <!-- /.table-responsive -->

                        </div>

                        <div class="btn btn-product">
                            <nav aria-label="Page navigation">
                               
                                    @Html.PagedListPager(Model, page => Url.Action("ProjectsCategories",
                                         new { page }))
                               
                            </nav>
                        </div>

                    </div>
                    <!-- End btn-block -->

                </div>
                <!-- End panel -->

            </div>
            <!-- End col -->



        </div>
        <!-- End My panel -->
        <!-- --------------------------------------------------------------------------- -->
        <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->


    </div>
    <!-- //tables agile-tables -->

</div>
<!-- codeHtml -->
<!-- ------------------------------------------------------------------------------- -->


<script type="text/javascript">
    $("#txtsearchCatEnglish").keyup(function () {
        var val = $(this).val();

        $('#tblpcats tbody tr').hide();
        var trs = $('table tbody tr').filter(function (d) {
            return $(this).text().toLowerCase().indexOf(val) != -1;
        });
        trs.show();


    });

    $("#txtsearchCatArabic").keyup(function () {
        var val = $(this).val();

        $('#tblpcats tbody tr').hide();
        var trs = $('table tbody tr').filter(function (d) {
            return $(this).text().toLowerCase().indexOf(val) != -1;
        });
        trs.show();


    });

    $("#txtsearchCatDate").change(function () {
        var val = $(this).val();

        $('#tblpcats tbody tr').hide();
        var trs = $('table tbody tr').filter(function (d) {
            return $(this).text().toLowerCase().indexOf(val) != -1;
        });
        trs.show();


    });


    $(document).on("click", ".btndelete", function myfunction(e) {

        if (confirm("Are you sure you want to  delete ?")) {

            __doPostBack('btndelete');



        } else {



            return false;
        }
        ;



    })



</script>

<script type="text/javascript">

    $(document).ready(function () {

        var modelStatus =@string.IsNullOrEmpty(ViewBag.alertMessage).ToString().ToLower();

        if (status == false) {

            var modelMessage =@string.Compare(ViewBag.alertMessage, "Success");


            if (modelMessage == 0) {



                $.toast({
                    text: " Project Category Deleted Successfuly Thank you :) !", // Text that is to be shown in the toast
                    heading: 'APPLET Software', // Optional heading to be shown on the toast
                    icon: 'success', // Type of toast icon
                    showHideTransition: 'slide', // fade, slide or plain
                    allowToastClose: true, // Boolean value true or false
                    hideAfter: 10000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                    stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                    position: { left: '0', right: '0', top: '0', bottom: 'auto' }, // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values



                    textAlign: 'center',  // Text alignment i.e. left, right or center
                    loader: true,  // Whether to show loader or not. True by default
                    loaderBg: '#9EC600',  // Background color of the toast loader
                    beforeShow: function () { }, // will be triggered before the toast is shown
                    afterShown: function () { }, // will be triggered after the toat has been shown
                    beforeHide: function () { }, // will be triggered before the toast gets hidden
                    afterHidden: function () { }  // will be triggered after the toast has been hidden
                });




            }



        }




    });

</script>